<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cug.geodt.weibo.sos.mapper.OfferingMapper">
    <insert id="insertOffering" parameterType="org.cug.geodt.weibo.sos.pojo.sensor.sos.Offerings">
        insert into offering(offering_id,identifier,name,description,is_reference,sampling_time_start,
                             sampling_time_end,result_time_start,result_time_end)
        values (#{offeringId},#{identifier},#{name},#{description},#{isReference},#{samplingTimeStart},
                                       #{samplingTimeEnd},#{resultTimeStart},#{resultTimeEnd})
    </insert>
</mapper>