<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cug.geodt.weibo.sos.mapper.UavScanSensorMapper">
    <insert id="insertUavScanSensor" parameterType="org.cug.geodt.weibo.sos.pojo.sensor.info.UavScanSensor">
        insert into uav_scanning_sensor_low_altitude_move(sensor_id,scan_resolution,measure_section,scan_point_number,vertical_fov,horizontal_fov)
        values (#{sensorId},#{scanResolution},#{measureSection},#{scanPointNumber},#{verticalFov},#{horizontalFov})
    </insert>
    <delete id="deleteSensorById">
        delete
        from uav_scanning_sensor_low_altitude_move
        where sensor_id = #{sensorId}
    </delete>
    <select id="getSensorInfoById" resultType="org.cug.geodt.weibo.sos.pojo.sensor.info.UavScanSensor">
        select *
        from uav_scanning_sensor_low_altitude_move
        where sensor_id = #{sensorId}
    </select>
    <select id="selectAllSensorId" resultType="java.lang.String">
        select sensor_id
        from uav_scanning_sensor_low_altitude_move
    </select>
</mapper>